{% extends 'base.html.twig' %} 

{% block title %}{{parent()}} - Liste des élèves{% endblock %}

{% block stylesheets %} 
    {{parent()}}
   <style> 
      .table { border-collapse: collapse; } 
      .table th, td { 
         border-bottom: 1px solid #ddd; 
         width: 250px; 
         text-align: left; 
         align: left; 
      } 
   </style> 
{% endblock %} 

{% block content %} 
   <a id = "listeeleves" href = "#">Liste des élèves</a>  
   </br> 
   </br>  
   
   <table class = "table">  
      <tbody id = "eleve"></tbody>  
   </table>     
{% endblock %}


{% block javascripts %} 
    {{parent()}}
   
   
   <script language = "javascript">  
      $(document).ready(function(){   
         $("#listeeleves").on("click", function(event){  
            $.ajax({  
               url:        '/liste_eleves_api',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  
               
               success: function(data, status) {  
                  var e = $('<tr><th>Nom</th><th>Prenom</th></tr>');  
                  $('#eleve').html('');  
                  $('#eleve').append(e);  
                  
                  for(i = 0; i < data.length; i++) {  
                     eleve = data[i];  
                     var e = $('<tr><td id = "nom"></td><td id = "prenom"></td></tr>');
                     
                     $('#nom', e).html(eleve['nom']);  
                     $('#prenom', e).html(eleve['prenom']);  
                     $('#eleve').append(e);  
                  }  
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message); 
               }  
            });  
         });  
      });  
   </script> 
{% endblock %}  
