{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
{% endblock %}

{% block body %}
    {{parent()}}

<main>
      <div class="container">
        <div class="col offset-l4">
          <h1 class="center pixelart-to-css"></h1>
				  <h3 class="center flow-text">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          {{app.user.username}}
          {% endif %}
            
          </h3>
          <h2 class="center flow-text">
            <strong>
              Rôle
            <strong>
          </h2>
          <br><br>
          <ul class="center">
            <li>
              <a href=""> - Liste des rattrapages </a>
            </li>
            <br>
            <li>
              <a href=""> - Liste des élèves </a>
            </li>
            <br>
            <li>
              <a href="{{ path('ajout_epreuve') }}"> - Ajouter un rattrapage </a>
            </li>
            <br>
            <li>
					    <a href="" target=""> - Ajouter un élève </a>
				    </li>
            <br>
            <li>
              <a href=""> - Ajouter un utilisateur </a>
            </li>
          </ul>

        </div>
      </div>
</main>

{% endblock %}


