{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Ajout élève{% endblock %}
{% block content %}



<div class="container-fluid">   
        <div class="row justify-content-center">
            <h1 class="text-center text-primary p-4">Ajout d'élève</h1>
        </div>
          <div class="row justify-content-center">
           
        </div>
        {{form(form)}}
</div>        

{% endblock %}