<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				LESITEDUTEMPS
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
														           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
			

		{#<link href="{{ asset('css/your_form_theme.css') }}" rel="stylesheet"/>#}
		{% endblock %}


	</head>
	<body>
		{% block body %}
			<style>
				header,
				main,
				footer {
					padding-left: 300px;
				}

				@media only screen and(max-width : 992px) {
					header,
					main,
					footer {
						padding-left: 0;
					}
				}
			</style>
			<header>
			<nav>
		<div class="nav-wrapper">
			<div class="row">
				<div class="col s12">
					<a href="#" data-target="sidenav-1" class="left sidenav-trigger hide-on-medium-and-up"><i class="material-icons">menu</i></a>
					<a href="#" data-target="sidenav-2" class="right sidenav-trigger show-on-medium-and-up"><i class="material-icons">menu</i></a>
					<a href="https://codepen.io/collection/nbBqgY" target="_blank" class="brand-logo">Materialize Framework</a>
				</div>
			</div>
		</div>
	</nav>
</header>

	


<!-- LEFT SIDEBAR	 -->
<ul id="sidenav-1" class="sidenav sidenav-fixed">
	<li><a class="subheader">Always out except on mobile</a></li>
	<li><a href="https://github.com/dogfalo/materialize/" target="_blank">Github</a></li>
	<li><a href="https://twitter.com/MaterializeCSS" target="_blank">Twitter</a></li>
	<li><a href="http://next.materializecss.com/getting-started.html" target="_blank">Docs</a></li>
</ul>





<main>
	<h1 class="center">Dual sidebars</h1>
	<p class="center"><strong>See also:</strong> <a href="https://codepen.io/j_holtslander/pen/YepdOo" target="_blank">Materialize - Dual Sidebars (Ultra-wide 21:9)</a></p>
</main>
			<script>
				$(document).ready(function () {
$('.sidenav').sidenav();
$('#sidenav-1').sidenav({edge: 'left'});

});
			</script>
			<!--  Scripts-->
			<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script src="js/materialize.js"></script>
			<script src="js/init.js"></script>
		{% endblock %}
	</body>
</html>
